{% extends "layout-account.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% block content %}
  <div class=" col-sm-3 col-lg-4"></div>
  <div class=" col-sm-6 col-lg-4">
    <div class="panel panel-primary" style="margin-top:50px;">
      <div class="panel-heading">
          <h3 class="panel-title">Zona clientes</h3>
      </div>
      <div class="panel-body">
        {% if validlink %}
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

            <form method="post">
            {% csrf_token %}
                <div class="form-row">
                    <div class="form-row">
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">{% trans 'New password:' %}</label>
                        {{ form.new_password1|add_class:'form-control' }}
                    </div>
                    <div class="form-row field-password2">
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                        {{ form.new_password2|add_class:'form-control' }}
                    </div>
                    <div class="submit-row">
                        <label>&nbsp;</label>
                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="{% trans 'Change my password' %}" />
                    </div>
                </div>
            </form>

        {% else %}
            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        {% endif %}
        </div>
    </div>
  </div>
  <div class=" col-sm-3 col-lg-4"></div>
{% endblock %}
