{% extends "layout-account.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% block content %}
  <div class=" col-sm-3 col-lg-4"></div>
  <div class=" col-sm-6 col-lg-4">
    <div class="panel panel-primary" style="margin-top:50px;">
      <div class="panel-heading">
          <h3 class="panel-title">Zona clientes</h3>
      </div>
      <div class="panel-body">
        <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
        <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>
      </div>
    </div>
  </div>
  <div class=" col-sm-3 col-lg-4"></div>
{% endblock %}
