{% extends "layout-account.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% block content %}
  <div class=" col-sm-3 col-lg-4"></div>
  <div class=" col-sm-6 col-lg-4">
    <div class="panel panel-primary" style="margin-top:50px;">
      <div class="panel-heading">
          <h3 class="panel-title">Zona clientes</h3>
      </div>
      <div class="panel-body">
        <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
        <form class="form-signin" method="post">{% csrf_token %}
          <div class="form-row">
              {{ form.email.errors }}
            <label for="id_email">{% trans 'Email address:' %}</label>
            {{ form.email|add_class:'form-control' }}
          </div>
          <div class="submit-row">
            <label>&nbsp;</label><input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans 'Reset my password' %}" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class=" col-sm-3 col-lg-4"></div>
{% endblock %}
